body {
  font-family: sans-serif;
  background-color: white;
}

main {
  max-width: 500px;
  margin: auto;
}

/* HEADING */
h1 {
  margin: 0;
}

/* BUTTONS */
.buttons {
  margin: 10px;
  text-align: center;
}

button,
a {
  cursor: pointer;
}

/* TEXT */
.text {
  transition: opacity 0.3s ease;
}

.hidden {
  opacity: 0;
}

/* CIRCLE */
#circle {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  background-color: white;
  mix-blend-mode: difference;
  position: fixed;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, -50%);
  pointer-events: none;
}
