body {
  font-family: sans-serif;
}

/* VOTING / OUTPUT */
#agency-voting {
  display: flex;
}

#agency-output {
  flex: 1 0 auto;
  text-align: center;
}

/* EDITABLE CONTENT */
span {
  border: 1px solid black;
  border-radius: 5px;
}

/* FOOTNOTE */
small {
  /* border: 1px solid black; */
  display: block;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 10px;
}
